<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../bundle/css/base.css">
    <link rel="stylesheet" href="../bundle/css/demo3.css">
    <title>demo3</title>
</head>
<body>
<div v-if="show" transition="expand">hello</div>
<!--<div v-if="show" :transition="transitionName">hello</div>-->
<p transition="fade"></p>

<script src="../bundle/js/vendor.js"></script>
<script src="../bundle/js/vue.js"></script>
<script src="../bundle/js/demo3.js"></script>
</body>
</html>